<!-- <div>{{ bitflyerLtp$ | async | number }}円</div>
<div>{{ coincheckLast$ | async | number }}円</div>
<div>{{ zaifLast$ | async | number }}円</div>
<div>{{ bitbankLast$ | async | number }}円</div>
<div>{{ quoinexLast$ | async | number }}円</div> -->
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> 取引所 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="btcPrice">
      <mat-header-cell *matHeaderCellDef> BTC価格 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.btcPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
