<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-title">bitFlyer API</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" class="login-form" #loginForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="API Key" id="key" [(ngModel)]="keySet.key" name="key" required>
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="API Secret" id="secret" [(ngModel)]="keySet.secret" name="secret" required>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
